# Data Science Tools and Ecosystem

## **Objectives:**
In this course we will learn following languages
- Python
- R
- SQL
- Julia
- Scala

## Introduction
Tools for Data Science is the second course in Professional Certificate of IBM Data Science. Moreover, in this notebook Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL
4. Julia
5. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Sci-Kit Learn
5. PyCaret
6. Tensorflow

|Data Science Tools|
|------------------|
|My SQL|
|Apache AirFlow|
|Pixie Dust|
|TensorFlow Light|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Muhammad Noman Shafique